* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}
html,body{
    height: 100%;
    width: 100%;

}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:aqua;
}
#card{
    border-radius: 10px;
    height: 400px;
    width: 300px;
    background: white;
    padding: 30px;
    text-align: center;

}
#card img{
    height: 50%;
    width:100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    cursor: pointer;
}
#card h1{
    font-size: 20px;
    margin: 10px 0;
}

#card h5{
    font-size: 25px;
    color: pink;
    margin: 20px;
}

#card button{
    background-color: cadetblue;
    color: white;
    font-weight: 700;
    border-radius: 15%;
    height: 30px;
    width: 90px;
    margin: 5px;
    cursor: pointer;
}
#card #remove{
    background-color: grey;
    color: balck;
}

