* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}
html,body{
    height: 100%;
    width: 100%;

}
body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container{
    height: 400px;
    width: 300px;
    background-color: azure;
    border-radius: 25%;
}
#container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}
#container i{
    /* height: 150px;
    /* width:150px; they dont work here */
    color: azure;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    opacity: 0.8;
}
